typer
fastapi
uvicorn
requests
pandas
python-dotenv


fake-useragent
beautifulsoup4
pypdf
lxml
# youtube-search
# youtube-transcript-api
# pdf2image
# pytesseract

# google-genai

pymongo
pydantic
beanie