typer
fastapi
uvicorn
requests
pandas
python-dotenv
fake-useragent
beautifulsoup4
pypdf
lxml
pymongo>=4.9
pydantic
beanie
motor>=3.7.1
loguru
yfinance
pandas-ta
numpy
rich
pytesseract
pdf2image
google-generativeai
tavily-python
fastmcp
